.postList {
    width: 800px;

    .select {
        width: 90%;
        display: inline-block;
    }

    .button {
        height: 40px;
        border: 2px solid $main-color;
        border-radius: 5px;
        background-color: $main-color;
        font-size: 20px;
        float: right;
    }
}

.fullList {
    width: 800px;
    margin-top: 10%; 
}

.post { 
    border: 1px solid $black;   
    padding: 15px 25px 20px;
    margin: 0 0 20px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);

    .title {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .description, .full-description {
        margin-bottom: 15px;            
    }

    .footer-details {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;

        .author {
            color: $main-color;
            font-weight: 700;
            cursor: pointer;          
        }

        .date {
            font-style: italic;
        }
    }

    .post-footer {
        display: flex;
        justify-content: space-between;

        .tag-container {
            display: flex;            
    
            .tag {
                display: inline-block;
                border-radius: 5px;
                border: 1px solid $main-color;
                margin: 10px 5px 0 0;
                padding: 5px 15px;
                box-shadow: 0 1px 4px rgba(0,0,0,0.25); 
            }
        }

        a {
            align-self: flex-end;            

            .show-details {
                align-self: flex-end;
                color: $main-color;
                text-decoration: underline;
        
                &:hover {            
                    cursor: pointer;
                    color: $red;
                }   
            }
        }        
    }    

    .fullList-footer {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .back-button {
            width: 100px;       
            height: 25px;
            border: 2px solid $main-color;
            border-radius: 5px;
            text-align: center;
            background-color: $main-color;
            font-size: 20px;
    
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }    
}

@media (max-width: 900px) {
    .postList, .fullList {
        width: 500px;
        .select {
            width: 80%;
        }
    }
    .post {
        .post-footer {
            display: block;
    
            .tag-container {
                display: block;   
                
                .tag {                   
                    margin: 10px 5px 10px 0;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .postList, .fullList {
        width: 320px;
        .select {
            width: 70%;
        }        
    }
    .post {
        .footer-details {
            display: block;

            .author, .date {
                text-align: center;
            }
        }
    }
}