@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@import "variables";
@import "posts";
@import "modal";


body {
    display: flex;
    justify-content: center;
    background-color: $background-color;
    font-size: 20px;
    font-family: Raleway;
}

h1 {
    color: $main-color;
    text-align: center;
}